.container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: absolute;
	width: 98%;
	height: 98%;
	flex-wrap: wrap;
}
#mapid {
	width: 500px;
	height: 700px;
	/* border: 1px solid rgb(216, 13, 13); */
	margin: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.content {
	width: 500px;
	height: 700px;
	margin: 15px;
	background: #27363b;
	color: blanchedalmond;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.son {
	/* border: 1px solid black; */
	padding: 10px;
	background: #27363b;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

body {
	background: #1fa2ff; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#a6ffcb,
		#12d8fa,
		#1fa2ff
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: system-ui;
	color: #555;
}
